- if user_signed_in?
  
  #wrapper
    #scroller
      #pullDown
        %span.pullDownIcon
        %span.pullDownLabel
          Pull down to refresh...
      %p
        need to add everybody | followers filter links
        
      %ul#theItems
        - @items.each do |item|
          %li= render :partial => "items/item_mobile", :locals => {:item => item}
    
      #pullUp
        %span.pullUpIcon
        %span.pullUpLabel
          Pull up to refresh...
        
- else
  = render :partial => '/home/sign_in'


- if @items.present?
  <script>
  last_item_id = #{@items.first.id};
  </script>
  
:javascript
  var myScroll, pullDownEl, pullDownOffset, pullUpEl, pullUpOffset, generatedCount = 0;
  document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
  document.addEventListener('DOMContentLoaded', function () { setTimeout(Fnnny.loaded, 200); }, false);