.page-header
  %h1
    This is #{configatron.app_name}

  = render 'form'

%p
  -# Psst... the easiest way to get web pages into #{configatron.app_name} is with the #{link_to 'bookmarklet', bookmarklet_path}.
